<form action="<%= new_user ? user_url : session_url %>" method="post">
  <%= render "shared/csrf" %>
  <div class="my form-group">
    <label>Username:
      <input class="form-control" type="text" name="user[username]" value="<%= user.username %>">
    </label>
    <br>
    <% if new_user %>
      <br>
      <label>Email:
        <input class="form-control" type="text" name="user[email]" value="<%= user.email %>">
        <br>
      </label>
    <% end %>
    <br>
    <label>Password
      <input class="form-control" type="password" name="user[password]">
    </label>
    <br>
    <br>

    <input class="btn btn-default" type="submit" name="Submit">
  </div>
</form>
